<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="Custom-PHP5-FastCGI-php" />
            <add name="Custom-PHP5-FastCGI-php" path="*.php" verb="GET,POST,PUT,DELETE,OPTIONS" modules="FastCgiModule" scriptProcessor="C:\php56\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
